@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
    position: relative;
}
html{
  position: relative;
}

.page-enter-active {
    animation: acrossIn .45s ease-out both;
  } 
  
  .page-leave-active {
    animation: acrossOut .65s ease-in both;
  } 
  
  @keyframes acrossIn {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes acrossOut {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }

  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
    color: #3f51b5;
}

.theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
  color: rgb(63, 81, 181);
}

.v-icon.v-icon.v-icon--link {
  cursor: pointer;
  outline: none;
  color: rebeccapurple;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}